.navbar {
    padding: .7rem 1.5rem;
    line-height: 2.2rem;
    border-bottom: 1px solid $lightgrey;
    background: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 2;

    .site-name {
        font-size: 0.937rem;
        font-weight: 500;
        color: $primary;

        @include media-min(md){
            font-size: 1.3rem;
        }
    }
    &-nav {
        margin-left: auto;
        display: flex;
        align-items: center;
    }
}