.tweet {
    &-wrap {
        display: flex;
        flex-wrap: wrap;        

        app-single-tweet {
            width: 100%;
        }

        @include media-between(md,lg){
            margin-left:-10px;
            margin-right:-10px;

            app-single-tweet  {            
                display: flex;
                width: 50%;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
    &-widget {
        display: flex;
        padding: 10px 15px;
        border: 1px solid $lightgrey;
        border-radius: 4px;
        margin-bottom: 12px;
        box-shadow: 0 1px 2px 0 rgba(37,44,97,.15);
        animation: fadeIn 0.3s linear;
        animation-fill-mode: both;

        .tweet-user {
            &-pic {
                max-width: 50px;
                height: 50px;
            }
        }    
        // Set delay per List Item
        @for $i from 1 through 20 {
          &:nth-child(#{$i}) {
            animation-delay: .05s * $i;
          }
        }
        a {
            text-decoration: none;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }   
    &-left {
        &-col {
            width: 50px;
        }
    }
    &-right {
        &-col {
            padding-left: 15px;
            width: calc(100% - 50px);
        }
    }
    &-user {
        &-info {
            display: flex;
            flex-wrap: wrap;
            align-items: center;  
            margin-bottom: 10px;         
        }
        &-fullname,
        &-account,
        &-tweet-time {
            font-size: 0.75rem;
            color: $telluric;            
        }
        
        &-fullname,
        &-account {
            padding-right: 10px;
        }        
        &-comment {
            font-size: 0.875rem;
            color: $grey;
        }
        &-tweet-time {
            width: 100%;

            @include media-min(lg){
                width: auto;

                &-tweet-time {
                    margin-left: auto;
                }
            }
        }
    }
}



// Keyframe animation
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}