<!-- Link for card -->
<a href="https://twitter.com/{{tweet.user.screen_name}}/status/{{tweet.id_str}}" class="tweet-link"></a>
<!-- Profile image -->
<div class="tweet-left-col">
    <a href="https://twitter.com/{{tweet.user.screen_name}}" class="tweet-user-link"><img class="img-rounded tweet-user-pic" src="{{tweet.user.profile_image_url}}" alt/></a>
</div>
<div class="tweet-right-col">
    <div class="tweet-user-info">
        <!-- Username -->
        <span class="tweet-user-fullname"><a href="https://twitter.com/{{tweet.user.screen_name}}">{{tweet.user.name}}</a></span>
        <!-- Screen name -->
        <span class="tweet-user-account">@{{tweet.user.screen_name}}</span>
        <!-- Date and Time -->
        <span class="tweet-user-tweet-time">{{tweet.created_at}}</span>
    </div>
    <!-- Tweet content -->
    <div class="tweet-user-comment">
        {{tweet.text}}
    </div>
</div>
