<header class="navbar">
    <div class="navbar-brand">
        <span class="site-name">Search @Twitter</span>
    </div>
    <div class="navbar-nav">
        <div class="auto-refresh--countdown">
            <div *ngIf="interval" class="auto-refresh--text">Auto refresh in <span class="auto-refresh--count">{{timeLeft}}</span> <span class="auto-refresh--sec"> second{{(timeLeft == 1) ? '' : 's'}}</span></div>
        </div>
    </div>
</header>
<div class="container">

    <div class="search-box">
        <div class="search-box-wrapper">
            <input type="search" class="input-search" id="input-search">
        </div>
    </div>

    <div class="search-results">
        <div class="tweet-wrap">
            <ng-container *ngFor="let tweet of tweets">
                <app-single-tweet></app-single-tweet>
            </ng-container>
        </div>
    </div>

</div>