<header class="navbar">
    <div class="navbar-brand">
        <span class="site-name">Search @Twitter</span>
    </div>
    <div class="navbar-nav">
        <div class="header-action-btn">
            <button *ngIf="interval" type="button" class="btn-icon" (click)="getAllTweets()"><img src="assets/img/refresh.svg" alt="refresh" width="25" height="25" /></button>
        </div>
        <div class="auto-refresh--countdown">
            <div *ngIf="interval" class="auto-refresh--text">Auto refresh in <span class="auto-refresh--count">{{timeLeft}}</span> <span class="auto-refresh--sec"> second{{(timeLeft == 1) ? '' : 's'}}</span></div>
        </div>
    </div>
</header>
<div class="container">

    <app-search-box (searchText)="searchByText($event)" [searchParam]="searchParam"></app-search-box>

    <div class="search-loading">
        <ng-container *ngIf="(tweets.length == 0) && !noPosts">
            <div class="loadingBlock" *ngFor="let number of [0,1,2,3,4,5]">
                <div class="d-flex">
                    <div class="loadingBlock-image"></div>
                    <div class="loadingBlock-content">
                        <div class="loadingBlock-title"></div>
                        <div class="loadingBlock-details"></div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <div class="search-results">
        <div class="tweet-wrap">
            <div class="info-box" *ngIf="fetchLoader && (tweets.length != 0) && !noPosts">Fetching new posts...</div>
            <ng-container *ngFor="let tweet of tweets">
                <app-single-tweet [tweet]="tweet" class="tweet-widget"></app-single-tweet>
            </ng-container>
            <div class="info-box" *ngIf="noPosts">No Posts Found</div>
        </div>
    </div>

</div>