<header class="navbar">
    <div class="navbar-brand">
        <span class="site-name">Search @Twitter</span>
    </div>
    <div class="navbar-nav">
        <div>
            <button type="button" (click)="getAllTweets()">Refresh</button>
        </div>
        <div>
            <button *ngIf="!autoRefresh" type="button" (click)="changeAutoRefresh(true)">Start</button>
            <button *ngIf="autoRefresh" type="button" (click)="changeAutoRefresh(false)">Stop</button>
        </div>
        <div class="auto-refresh--countdown">
            <div *ngIf="!autoRefresh" class="auto-refresh--text">Auto refresh disbled</div>
            <div *ngIf="interval && autoRefresh" class="auto-refresh--text">Auto refresh in <span class="auto-refresh--count">{{timeLeft}}</span> <span class="auto-refresh--sec"> second{{(timeLeft == 1) ? '' : 's'}}</span></div>
        </div>
    </div>
</header>
<div class="container">

    <div class="search-box">
        <div class="search-box-wrapper">
            <input type="text" [(ngModel)]="searchParam" class="input-search" id="input-search" (keyup)="enterClick($event)">
            <i [ngClass]="{'hide' : !searchParam}" (click)="clearSearch()">X</i>
            <a href="javascript:void(0);" class="search-trigger d-inline-flex" (click)="searchTweets()">Search</a>
        </div>
    </div>

    <div class="search-results">
        <div class="tweet-wrap">
            <ng-container *ngFor="let tweet of tweets">
                <app-single-tweet [tweet]="tweet"></app-single-tweet>
            </ng-container>
        </div>
    </div>

</div>