.search {
    &-box {
        margin: 25px 0;
        .input-search {
            height: 45px;
            padding: 5px 30px 5px 48px;
            background-image: url(assets/img/search-icon.svg);
            background-position: 12px 50%;
            background-size: 30px 30px;
            background-repeat: no-repeat;
            outline: 0;
            -webkit-appearance: none;
            border: 0;
            background-color: $lightblue;
            color: $input-text;
            width: 100%;
            border-radius: 26px;
            font-size: 0.875rem;
        }
    }
}